<!-- snippets/reviews-honest.liquid -->
<div class="honest_reviews">
  <div class="col-4-1">
    <div class="image-container">
        <img src = "{{ 'ruth.png' | asset_url }}" >
    </div>
    <img class = "quote_sign" src = "{{ 'quote.png' | asset_url }}" >
    <h2>Delivery is prompt right to my door. Sure beats carrying those packages through the checkout. It's nobody's business but my own, so I'll leave it at that. You won't be disappointed.</h2>
    <h4>Ruth, 78</h4>
    <div class = "review_stars">
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
    </div>
  </div>

  <div class="col-4-2">
    <div class="image-container">
        <img src = "{{ 'rachel.png' | asset_url }}" >
    </div>
    <img class = "quote_sign" src = "{{ 'quote.png' | asset_url }}" >
    <h2>Products from the Because Company are such a good quality and so reasonably priced!</h2>
    <h4>Rachel, 52</h4>
    <div class = "review_stars">
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
    </div>
  </div>

  <div class="col-4-3">
    <div class="image-container">
        <img src = "{{ 'maxine.png' | asset_url }}" >
    </div>
    <img class = "quote_sign" src = "{{ 'quote.png' | asset_url }}" >
    <h2>They are prompt with shipping orders as per scheduling and the product is the best I’ve ever used. Plus I am pleased that I receive shipments right to my door.</h2>
    <h4>Maxine, 63</h4>
    <div class = "review_stars">
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
    </div>
  </div>
</div>

<div class="honest_reviews_mobile">
  <div class="col-4-1">
    <div class="image-container">
        <img src = "{{ 'ruth.png' | asset_url }}" >
    </div>
    <img class = "quote_sign" src = "{{ 'quote.png' | asset_url }}" >
    <h2>Delivery is prompt right to my door. Sure beats carrying those packages through the checkout. It's nobody's business but my own, so I'll leave it at that. You won't be disappointed.</h2>
    <h4>Ruth, 78</h4>
    <div class = "review_stars">
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
      <img src = "{{ 'review_star.png' | asset_url }}" >
    </div>
  </div>
</div>
<!--/ snippets/reviews-honest.liquid -->