<!-- /snippets/why-because-section.liquid -->

<div class="container-fluid dark-blue-section why-because-section">
  <div class="row">
      <div class="col-12" align="center">
          <h2 class="section-header">Why Because</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-sm-12" align="center">
          <div class="image-container">
              <img src="{{ 'icon-america-flag-cyan.png' | file_url }}" />
          </div>
          <p class="cooper">
              The best quality for the price.
              Made in the USA.
          </p>

      </div>
      <div class="col-md-4 col-sm-12" align="center">
          <div class="image-container">
              <img src="{{ 'icon-footsteps-cyan.png' | file_url }}" />
          </div>
          <p class="cooper">
              Personal guidance to find the perfect products for you.
          </p>

      </div>
      <div class="col-md-4 col-sm-12" align="center">
          <div class="image-container">
              <img src="{{ 'icon-package-cyan.png' | file_url }}" />
          </div>
          <p class="cooper">
              Descreetly packaged and shipped for free to your doorstep.
          </p>

      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-sm-12" align="center">
          <div class="image-container">
              <img src="{{ 'icon-pencial-cyan.png' | file_url }}" />
          </div>
          <p class="cooper">
              Easy, adjustable, and
              flexible subscription.
          </p>
      </div>
      <div class="col-md-4 col-sm-12" align="center">
          <div class="image-container">
              <img src="{{ 'icon-tag-cyan.png' | file_url }}" />
          </div>
          <p class="cooper">
              Exclusive access to monthly special offers and newsletters.
          </p>
      </div>
      <div class="col-md-4 col-sm-12" align="center">
          <div class="image-container">
              <img src="{{ 'icon-headphones-cyan.png' | file_url }}" />
          </div>
          <p class="cooper">
              Dedicated product specialists can help you with anything.
          </p>
      </div>
  </div>
  <div class="col-12" align="center">
      <div class="button get-started-today funnel-link"><span>Get Started Today</span></div>
  </div>

</div>
