<!-- /sections/page.innews.liquid-->

<div class="wrapper page-margin">

    <div class="grid">
        <div class="wrapper" id="news">
            <section class="row py-4" id="hero">
                <div class="container">
                    <div class="col col-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col col-12 col-md-6 col-lg-6 col-sm-12">
                                <h2 class="title">Because <span>is newsworthy</span></h2>
                                <p>Read more about Because in the news.</p>
                                <div class="underline"></div>
                            </div>

                            <div class="col col-12 col-md-6 col-lg-6 col-sm-12 all-center">
                                <div class="row justify-content-center m-0">
                                    <img class="mx-auto d-block main-section-image" src="{{ 'news-News.png' | file_url }}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- hero.row -->

            <section class="row" id="features">
                <div class="col col-12 col-lg-8 col-md-12 col-sm-12">
                    <div class="row" id="articles">

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'forbes.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="https://cdn.shopify.com/s/files/1/1522/0906/files/forbes-2.jpg?v=1603230276" alt="" />
                            <a class="link" target="_blank" href="https://www.forbes.com/sites/josephdeacetis/2020/10/16/because-market-leaders-in-senior-focused-commerce-launch-new-skincare-products/#3d537a156ead">Because Market: Leaders In Senior Focused Commerce Launch New Skincare Products</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="https://cdn.shopify.com/s/files/1/1522/0906/files/yahoo.png?v=1595538074" alt="">
                            <img class="mx-auto d-block thumbnail" src="https://cdn.shopify.com/s/files/1/1522/0906/files/yahoo.jpg?v=1595895779" alt="" />
                            <a class="link" target="_blank" href="https://finance.yahoo.com/news/focusing-underserved-65-market-because-120300800.html">Focusing On Underserved 65+ Market, Because Grows Through Strategic Acquisitions And Product Innovation</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'cbs.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'news-img-cbs.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://sanfrancisco.cbslocal.com/video/4130674-because-delivers-convenient-direct-to-consumer-adult-diapers-to-your-doorstep/">Because Delivers Convenient Direct-To-Consumer Adult Diapers To Your Doorstep</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'forbes.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'news-ceo.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://www.forbes.com/sites/micahsolomon/2019/02/18/how-two-former-uber-and-wework-honchos-sold-50m-adult-diapers-and-raised-30m-in-capital/#652040b826de">How Two Uber/eBay Alums Sold 50 Million Adult Diapers And Raised $30M From
                                Eric Schmidt, Et Al.</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'fast.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'CBDNews.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://www.fastcompany.com/90388014/this-adult-diaper-company-wants-to-sell-cbd-to-your-parents">This adult diaper company wants to sell CBD to your parents</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'digiital.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'world.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://www.digitalcommerce360.com/2021/02/15/customer-acquisition-and-retention-ideas-for-2021/">Because Market's “Socially Intelligent” Customer Service</a>
                            <span class="underline"></span>
                        </div>


                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'fox-logo.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'fox-thumb.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://fox40.com/morning/family-must-haves-for-spring">Lifestyle expert Kristi Torrington Shares Must-Haves</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'medium.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'news-post1.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://medium.com/@alexi/because-its-about-time-a7ee48d92900">It’s time to re-imagine how we make, buy and talk about protective
                                underwear and pads.</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'living.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'CBDNews2.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://www.livingbetter50.com/women-50-find-personal-products-formulated-just/">Women Over 50 Find Personal Care Products Formulated Just For Them</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'nonwovens.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'news-products.png' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://www.nonwovens-industry.com/contents/view_online-exclusives/2019-04-10/because-puts-new-spin-on-adult-inco-products-725887/">Because Puts New Spin On Adult Inco Products</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="{{ 'radio7.png' | file_url }}" alt="">
                            <img class="mx-auto d-block thumbnail" src="{{ 'CBDNews3.jpg' | file_url }}" alt="" />
                            <a class="link" target="_blank" href="https://radiopublic.com/generation-bold-radio-WDJ9l7/s1!3bf12">Generation Bold Radio ft. Heidi Robinson, COO, Because Market</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="https://cdn.shopify.com/s/files/1/1522/0906/files/pr.png?v=1595538229" alt="">
                            <img class="mx-auto d-block thumbnail" src="https://cdn.shopify.com/s/files/1/1522/0906/files/pr.jpg?v=1595895779" alt="" />
                            <a class="link" target="_blank" href="https://www.prnewswire.com/news-releases/because-partners-with-iheartmedia-to-reach-older-adults-with-critical-personal-care-products-as-covid-19-pandemic-continues-301097629.html">Because Partners with iHeartMedia to Reach Older Adults with Critical Personal Care Products</a>
                            <span class="underline"></span>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 article">
                            <img class="logo" src="https://cdn.shopify.com/s/files/1/1522/0906/files/AUthority.png?v=1595538337" alt="">
                            <img class="mx-auto d-block thumbnail" src="https://cdn.shopify.com/s/files/1/1522/0906/files/authority.jpg?v=1595895779" alt="" />
                            <a class="link" target="_blank" href="https://medium.com/authority-magazine/alexi-suvacioglu-of-because-5-ways-to-create-a-wow-customer-experience-e6fede9a9636">Authority Magazine: Create a Wow! Customer Experience</a>
                            <span class="underline"></span>
                        </div>
                    </div>
                </div>
            </section><!-- difference.row -->

            {% include 'home-help-section' %}
        </div><!-- #page-wrapper -->
    </div>
</div>
